@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#1A2C38;
  --secondary:#213743;
}
.flex{
  display:flex
}
.items-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.py-2{
padding-top: 0.5rem;
padding-bottom:0.5rem ;
}
.gap-3{
  gap: 0.75rem;
}
.flex-col{
  flex-direction: column;
}
body{
  background-color:  var(--primary)
}
.bg-transparent{
  background-color: transparent;
}
.w-full{
  width: 100%;
}
.border-none{
  border: none;
}
.bg-secondary{
  background-color: var(--secondary)
}
.bg-primary{
  background-color: var(--primary);
}
